In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.3f}'.format)
import warnings
warnings.filterwarnings("ignore")
# 设置中文字体为 SimHei（黑体）
plt.rcParams['font.sans-serif'] = ['SimHei']  # 使用黑体 SimHei
plt.rcParams['axes.unicode_minus'] = False    # 解决负号显示问题

In [2]:
# 读入燃烧月度数据并把每个机组转置到不同df
directory_file = '../data/安庆电厂入炉煤质数据/安庆电厂入炉煤质数据23年/2023年安庆燃料月度数据.xlsx'

df = pd.read_excel(directory_file,header=None)
#每个机组燃料月度数据
df_monthly_fuel_1 = df.iloc[:6].T
df_monthly_fuel_2 = df.iloc[7:13].T
df_monthly_fuel_3 = df.iloc[14:20].T
df_monthly_fuel_4 = df.iloc[21:33].T

df_fuel_1 = []
df_fuel_2 = []
df_fuel_3 = []
df_fuel_4 = []

#将第一行特征名设置为列名并删除
    ##1机组第一行特征名：
    #1机组  空干基含碳量（%）收到基挥发分（%）收到基灰分（%）收到基低位发热量(kJ/kg) 全水分（%）

df_monthly_fuel_1.columns = df_monthly_fuel_1.iloc[0]  # 取第一行作为列名
df_monthly_fuel_1 = df_monthly_fuel_1.drop(df_monthly_fuel_1.index[0]) #删除第一行

df_monthly_fuel_2.columns = df_monthly_fuel_2.iloc[0]  # 取第一行作为列名
df_monthly_fuel_2 = df_monthly_fuel_2.drop(df_monthly_fuel_2.index[0]) #删除第一行

df_monthly_fuel_3.columns = df_monthly_fuel_3.iloc[0]  # 取第一行作为列名
df_monthly_fuel_3 = df_monthly_fuel_3.drop(df_monthly_fuel_3.index[0]) #删除第一行

df_monthly_fuel_4.columns = df_monthly_fuel_4.iloc[0]  # 取第一行作为列名
df_monthly_fuel_4 = df_monthly_fuel_4.drop(df_monthly_fuel_4.index[0]) #删除第一行

In [3]:
df_monthly_fuel_1

0  #1机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    54.080    24.330   23.390       18369.700 14.200
2    2月    55.840    24.920   20.890       18971.400 15.200
3    3月    55.700    20.050   21.810       18929.800 14.400
4    4月    53.650    24.180   21.890       18622.500 15.300
5    5月    56.970    23.470   19.610       18607.700 17.800
6    6月    57.450    24.410   19.060       19317.700 15.800
7    7月    56.920    24.360   20.110       19177.300 15.400
8    8月    56.840    24.370   19.800       18997.530 15.600
9    9月    55.140    23.890   20.540       18473.280 15.900
10  10月    56.130    24.830   21.510       19142.500 13.700
11  11月    55.480    24.550   20.240       19209.200 13.700
12  12月    58.410    24.770   18.570       19497.200 14.900

In [4]:
# #2机组 5月数据缺失
df_monthly_fuel_2

0  #2机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    53.800    24.570   23.030       18518.900 14.300
2    2月    56.160    25.130   20.260       19178.700 15.300
3    3月    55.390    25.010   21.860       18909.980 14.400
4    4月    53.290    24.200   22.040       18555.300 15.300
5    5月         /         /        /               /      /
6    6月    55.860    24.150   19.790       18843.700 16.200
7    7月    56.390    24.390   20.050       19198.200 15.400
8    8月    57.220    24.370   19.970       18995.110 15.400
9    9月    54.650    24.080   20.660           18474 16.900
10  10月    54.040    24.300   22.330       18701.600 14.200
11  11月    55.740    24.550   20.240       19210.120 13.700
12  12月    58.230    24.760   18.390       19516.300     15

In [5]:
df_monthly_fuel_3

0  #3机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    56.960    24.840   18.320       19088.500 17.300
2    2月    57.990    25.760   17.640       20035.100 15.600
3    3月    56.940    25.760   17.790           19456 16.900
4    4月    53.280    24.440   20.840       18961.900 15.500
5    5月    55.040    23.690   17.840           18890 18.600
6    6月    59.960    24.170   15.630       19660.300 18.200
7    7月    59.420    24.330   16.140       19312.650 17.500
8    8月    57.780    24.500   18.190       19282.760 16.300
9    9月    56.940    24.150   17.350       19128.140     18
10  10月    55.320    24.150   20.260       18904.300 14.600
11  11月    57.930    24.980   18.640       19916.360 14.300
12  12月    60.140    24.760   14.960       20186.400 17.100

In [6]:
# #4机组 3月数据缺失
df_monthly_fuel_4

0  #4机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    56.660    24.780   18.400           19062 17.300
2    2月    58.040    25.740   17.640       20031.900 15.600
3    3月         /         /        /               /      /
4    4月    56.390    24.550   19.450       19446.500 15.700
5    5月    56.570    23.710   18.490           18902 18.500
6    6月    60.100    24.150   15.630           19655 18.200
7    7月    59.740    24.310   16.120       19192.670 17.600
8    8月    57.440    24.310   18.160       19280.550 16.300
9    9月    57.290    24.170   17.320       19125.630     18
10  10月    56.390    24.700   20.220       18907.400 14.600
11  11月    58.020    24.980   18.600       19910.250 14.300
12  12月    59.630    24.760   14.960       20194.100 17.100

In [7]:
#用#2机组 4月和 6月燃料数据的均值填补#2机组 5月燃烧数据
#用#4机组 2月和 4月燃料数据的均值填补#4机组 3月燃烧数据
df_monthly_fuel_2.loc[5,['空干基含碳量（%）', '收到基挥发分（%）', '收到基灰分（%）', '收到基低位发热量(kJ/kg)',
       '全水分（%）']] = (df_monthly_fuel_2.iloc[3] + df_monthly_fuel_2.iloc[5] ).iloc[1::]/2
df_monthly_fuel_4.loc[3,['空干基含碳量（%）', '收到基挥发分（%）', '收到基灰分（%）', '收到基低位发热量(kJ/kg)',
       '全水分（%）']] = (df_monthly_fuel_4.iloc[1] + df_monthly_fuel_4.iloc[3] ).iloc[1::]/2

In [8]:
# #2机组 4月和6月平均值插值填补5月后
df_monthly_fuel_2

0  #2机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    53.800    24.570   23.030       18518.900 14.300
2    2月    56.160    25.130   20.260       19178.700 15.300
3    3月    55.390    25.010   21.860       18909.980 14.400
4    4月    53.290    24.200   22.040       18555.300 15.300
5    5月    54.575    24.175   20.915       18699.500 15.750
6    6月    55.860    24.150   19.790       18843.700 16.200
7    7月    56.390    24.390   20.050       19198.200 15.400
8    8月    57.220    24.370   19.970       18995.110 15.400
9    9月    54.650    24.080   20.660           18474 16.900
10  10月    54.040    24.300   22.330       18701.600 14.200
11  11月    55.740    24.550   20.240       19210.120 13.700
12  12月    58.230    24.760   18.390       19516.300     15

In [9]:
# #4机组 2月和4月平均值插值填补3月后
df_monthly_fuel_4

0  #4机组 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
1    1月    56.660    24.780   18.400           19062 17.300
2    2月    58.040    25.740   17.640       20031.900 15.600
3    3月    57.215    25.145   18.545       19739.200 15.650
4    4月    56.390    24.550   19.450       19446.500 15.700
5    5月    56.570    23.710   18.490           18902 18.500
6    6月    60.100    24.150   15.630           19655 18.200
7    7月    59.740    24.310   16.120       19192.670 17.600
8    8月    57.440    24.310   18.160       19280.550 16.300
9    9月    57.290    24.170   17.320       19125.630     18
10  10月    56.390    24.700   20.220       18907.400 14.600
11  11月    58.020    24.980   18.600       19910.250 14.300
12  12月    59.630    24.760   14.960       20194.100 17.100

In [10]:
#把第一列月份转为每月第一天 且为日期类型
df_monthly_fuel_1.iloc[:,0] = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')
df_monthly_fuel_2.iloc[:,0] = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')
df_monthly_fuel_3.iloc[:,0] = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')
df_monthly_fuel_4.iloc[:,0] = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')

#把第一列设为索引，以resample12个月为每日数据
df_monthly_fuel_1.set_index("#1机组", inplace=True)
df_monthly_fuel_2.set_index("#2机组", inplace=True)
df_monthly_fuel_3.set_index("#3机组", inplace=True)
df_monthly_fuel_4.set_index("#4机组", inplace=True)

#确定新的日期范围
start_date = df_monthly_fuel_1.index.min() - pd.DateOffset(day=1)
end_date = df_monthly_fuel_1.index.max() + pd.DateOffset(day=31)
#生成一个从 start_date 到 end_date 的日期范围，频率为每天 ('D')。
dates = pd.date_range(start_date, end_date, freq='D')
#将生成的日期范围命名为 时间
dates.name = '时间'

#resample月度数据为日度
df_fuel_1 = df_monthly_fuel_1.reindex(dates, method='ffill')
df_fuel_2 = df_monthly_fuel_2.reindex(dates, method='ffill')
df_fuel_3 = df_monthly_fuel_3.reindex(dates, method='ffill')
df_fuel_4 = df_monthly_fuel_4.reindex(dates, method='ffill')

# 将 df_monthly_fuel_1，2，3，4 的索引重置为列以便后续合并df
df_fuel_1 = df_fuel_1.reset_index()
df_fuel_2 = df_fuel_2.reset_index()
df_fuel_3 = df_fuel_3.reset_index()
df_fuel_4 = df_fuel_4.reset_index()

In [13]:
df_fuel_4

0           时间 空干基含碳量（%） 收到基挥发分（%） 收到基灰分（%） 收到基低位发热量(kJ/kg) 全水分（%）
0   2023-01-01    56.660    24.780   18.400           19062 17.300
1   2023-01-02    56.660    24.780   18.400           19062 17.300
2   2023-01-03    56.660    24.780   18.400           19062 17.300
3   2023-01-04    56.660    24.780   18.400           19062 17.300
4   2023-01-05    56.660    24.780   18.400           19062 17.300
..         ...       ...       ...      ...             ...    ...
360 2023-12-27    59.630    24.760   14.960       20194.100 17.100
361 2023-12-28    59.630    24.760   14.960       20194.100 17.100
362 2023-12-29    59.630    24.760   14.960       20194.100 17.100
363 2023-12-30    59.630    24.760   14.960       20194.100 17.100
364 2023-12-31    59.630    24.760   14.960       20194.100 17.100

[365 rows x 6 columns]

In [14]:
df_fuel_1.to_excel("../已提取数据/安庆1号煤质数据据2023.xlsx",index=False)
df_fuel_2.to_excel("../已提取数据/安庆2号煤质数据据2023.xlsx",index=False)
df_fuel_3.to_excel("../已提取数据/安庆3号煤质数据据2023.xlsx",index=False)
df_fuel_4.to_excel("../已提取数据/安庆4号煤质数据据2023.xlsx",index=False)