In [1]:
import pandas as pd
import os
# 马鞍山电厂1号机组运行数据directory_1
directory_1 = "../data/马鞍山电厂运行数据/1号机组运行数据202308-202412"
# 马鞍山电厂2号机组运行数据directory_2
directory_2 = "../data/马鞍山电厂运行数据/2号机组运行数据202308-202412"

# 机组一运行数据读取

In [3]:
dataframes_1 = []

for file in os.listdir(directory_1):
    print(file)
    file_path = os.path.join(directory_1, file)
    df=pd.read_excel(file_path,sheet_name='马鞍山电厂',skipfooter=11,header=1).iloc[4::,:-7]#跳过最后11行和最后7列
    cols=['项目','平均负荷','厂用电率','主汽压力', '主汽温度', '再热汽温', '给水温度', '排汽温度','排烟温度', '进风温度', '烟气含氧量']
    df=df[cols]
    dataframes_1.append(df)
    
df_all_1 = pd.concat(dataframes_1)

#更正部分列名使其更有意义
df_all_1 = df_all_1.rename(columns={'项目': '时间'})
# df_all_1 = df_all_1.rename(columns={'项目': '时间', '  \n真空度': '真空度'})

#将数据按照时间排序
# convert date from object type to datetime type  
df_all_1['时间'] = pd.to_datetime(df_all_1['时间'])
# set date to index
df_all_1.set_index('时间', inplace=True)
# sort data by date
df_all_1 = df_all_1.sort_index()
#reset index to column
df_all_1 = df_all_1.reset_index()

#添加负荷率列：平均负荷 / 机组容量（660MW) * 100
df_all_1["负荷率"] = df_all_1["平均负荷"] / 660 *100

#去除由于读取方式重复读取的日期8个 其排汽温度为空 
#从 2023 年 8 月 1 日到 2024 年 12 月 31 日一共是 519 天
df1 = df_all_1[df_all_1["排汽温度"].notnull()]
df1.to_excel("../已提取数据/马鞍山1号电厂运行数据202308-202412.xlsx",index=False)

1号机组小指标月报表&&2023年10月.xls
1号机组小指标月报表&&2023年11月.xls
1号机组小指标月报表&&2023年12月.xls
1号机组小指标月报表&&2023年8月.xls
1号机组小指标月报表&&2023年9月.xls
1号机组小指标月报表&&2024年10月.xls
1号机组小指标月报表&&2024年11月.xls
1号机组小指标月报表&&2024年12月.xls
1号机组小指标月报表&&2024年1月.xls
1号机组小指标月报表&&2024年2月.xls
1号机组小指标月报表&&2024年3月.xls
1号机组小指标月报表&&2024年4月.xls
1号机组小指标月报表&&2024年5月.xls
1号机组小指标月报表&&2024年6月.xls
1号机组小指标月报表&&2024年7月.xls
1号机组小指标月报表&&2024年8月.xls
1号机组小指标月报表&&2024年9月 .xls

In [4]:
#从 2023 年 8 月 1 日到 2024 年 12 月 31 日一共是 519 天 但读取了527天
df_all_1

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,排汽温度,排烟温度,进风温度,烟气含氧量,负荷率
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.81992,34.423918,120.54789,NaN,4.377998,NaN
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,4.14711,NaN
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,NaN
3,2023-08-04,463.79999,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,70.272726
4,2023-08-05,463.79999,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,70.272726
...,...,...,...,...,...,...,...,...,...,...,...,...
522,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,30.391722,114.439377,7.455163,2.374643,81.331171
523,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.27478,246.852801,26.792375,102.516357,6.076645,3.433005,58.933663
524,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,28.329635,97.923981,5.057175,2.834644,65.963639
525,2024-12-30,363.211545,3.51448,16.992607,558.91864,545.457459,243.366595,27.013812,101.438002,8.766281,3.09988,55.032052
526,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,29.768605,100.154246,8.413986,2.597747,71.938418

In [5]:
#由于读取方式重复读取的日期8个 其排汽温度为空
df_all_1[df_all_1["排汽温度"].isnull()]

            时间 平均负荷 厂用电率 主汽压力 主汽温度 再热汽温 给水温度 排汽温度 排烟温度 进风温度 烟气含氧量  负荷率
61  2023-10-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
123 2023-12-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
216 2024-03-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
217 2024-03-02  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
278 2024-05-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
341 2024-07-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
433 2024-10-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
495 2024-12-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

In [6]:
#从 2023 年 8 月 1 日到 2024 年 12 月 31 日一共是 519 天
df1

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,排汽温度,排烟温度,进风温度,烟气含氧量,负荷率
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.81992,34.423918,120.54789,NaN,4.377998,NaN
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,4.14711,NaN
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,NaN
3,2023-08-04,463.79999,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,70.272726
4,2023-08-05,463.79999,NaN,17.535095,NaN,NaN,239.20746,35.528028,126.02209,NaN,3.205516,70.272726
...,...,...,...,...,...,...,...,...,...,...,...,...
522,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,30.391722,114.439377,7.455163,2.374643,81.331171
523,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.27478,246.852801,26.792375,102.516357,6.076645,3.433005,58.933663
524,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,28.329635,97.923981,5.057175,2.834644,65.963639
525,2024-12-30,363.211545,3.51448,16.992607,558.91864,545.457459,243.366595,27.013812,101.438002,8.766281,3.09988,55.032052
526,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,29.768605,100.154246,8.413986,2.597747,71.938418

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 519 entries, 0 to 526
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   时间      519 non-null    datetime64[ns]
 1   平均负荷    516 non-null    object
 2   厂用电率    504 non-null    object
 3   主汽压力    519 non-null    object
 4   主汽温度    504 non-null    object
 5   再热汽温    504 non-null    object
 6   给水温度    519 non-null    object
 7   排汽温度    519 non-null    object
 8   排烟温度    519 non-null    object
 9   进风温度    504 non-null    object
 10  烟气含氧量   519 non-null    object
 11  负荷率     516 non-null    object
dtypes: datetime64[ns](1), object(11)
memory usage: 52.7+ KB

# 机组二运行数据读取

In [8]:
dataframes_2 = []

for file in os.listdir(directory_2):
    print(file)
    file_path = os.path.join(directory_2, file)
    df=pd.read_excel(file_path,sheet_name='马鞍山电厂',skipfooter=11,header=1).iloc[4::,:-7]#跳过最后11行和最后7列
    cols=['项目','平均负荷','厂用电率','主汽压力', '主汽温度', '再热汽温', '给水温度', '排汽温度','排烟温度', '进风温度', '烟气含氧量']
    df=df[cols]
    dataframes_2.append(df)
    
df_all_2 = pd.concat(dataframes_2)

#更正部分列名使其更有意义
df_all_2 = df_all_2.rename(columns={'项目': '时间'})
# df_all_2 = df_all_2.rename(columns={'项目': '时间', '  \n真空度': '真空度'})

# convert date from object type to datetime type  
df_all_2['时间'] = pd.to_datetime(df_all_2['时间'])
# set date to index
df_all_2.set_index('时间', inplace=True)
# sort data by date
df_all_2 = df_all_2.sort_index()
#reset index to column
df_all_2 = df_all_2.reset_index()

df_all_2["负荷率"] = df_all_2["平均负荷"] / 660 *100
#去除由于读取格式重复读取的日期8个 其特征均为空
df2 = df_all_2[df_all_2["排汽温度"].notnull()]
df2.to_excel("../已提取数据/马鞍山2号电厂运行数据202308-202412.xlsx",index=False)

2号机组小指标月报表&&2023年10月.xls
2号机组小指标月报表&&2023年11月.xls
2号机组小指标月报表&&2023年12月.xls
2号机组小指标月报表&&2023年8月.xls
2号机组小指标月报表&&2023年9月.xls
2号机组小指标月报表&&2024年10月.xls
2号机组小指标月报表&&2024年11月.xls
2号机组小指标月报表&&2024年12月.xls
2号机组小指标月报表&&2024年1月.xls
2号机组小指标月报表&&2024年2月.xls
2号机组小指标月报表&&2024年3月.xls
2号机组小指标月报表&&2024年4月.xls
2号机组小指标月报表&&2024年5月.xls
2号机组小指标月报表&&2024年6月.xls
2号机组小指标月报表&&2024年7月.xls
2号机组小指标月报表&&2024年8月.xls
2号机组小指标月报表&&2024年9月.xls

In [9]:
df_all_2[df_all_2["排汽温度"].isnull()]

            时间 平均负荷 厂用电率 主汽压力 主汽温度 再热汽温 给水温度 排汽温度 排烟温度 进风温度 烟气含氧量  负荷率
61  2023-10-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
123 2023-12-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
216 2024-03-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
217 2024-03-02  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
278 2024-05-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
341 2024-07-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
433 2024-10-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN
495 2024-12-01  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

In [10]:
#从 2023 年 8 月 1 日到 2024 年 12 月 31 日一共是 519 天
df2

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,排汽温度,排烟温度,进风温度,烟气含氧量,负荷率
0,2023-08-01,NaN,NaN,19.810181,NaN,NaN,251.32695,36.084768,118.08281,NaN,4.875325,NaN
1,2023-08-02,NaN,NaN,16.593246,NaN,NaN,242.82487,36.084768,118.0108,NaN,5.600026,NaN
2,2023-08-03,NaN,NaN,23.663406,NaN,NaN,262.75513,36.084768,121.02925,NaN,3.5204,NaN
3,2023-08-04,NaN,NaN,23.663406,NaN,NaN,259.96466,36.084768,121.02925,NaN,3.5204,NaN
4,2023-08-05,NaN,NaN,23.663406,NaN,NaN,259.96466,36.084768,121.02925,NaN,3.5204,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
522,2024-12-27,400.537109,3.036817,16.027335,565.48645,553.277547,247.886897,25.37377,93.33732,6.46318,3.336397,60.687441
523,2024-12-28,458.036283,3.404094,20.177045,565.325714,560.758179,255.124923,27.056306,100.194341,4.32457,3.144982,69.399437
524,2024-12-29,477.368164,3.803685,20.70239,565.53241,562.07428,256.763753,26.864382,94.088325,4.20726,2.762212,72.32851
525,2024-12-30,333.056634,3.961613,15.458119,567.048059,549.09668,236.0507,22.36886,91.650246,8.786041,3.600649,50.463126
526,2024-12-31,356.325266,3.970205,16.309337,565.762044,551.866135,238.441141,22.994458,93.381676,7.063294,3.163011,53.988677

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 519 entries, 0 to 526
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   时间      519 non-null    datetime64[ns]
 1   平均负荷    504 non-null    object
 2   厂用电率    504 non-null    object
 3   主汽压力    519 non-null    object
 4   主汽温度    504 non-null    object
 5   再热汽温    504 non-null    object
 6   给水温度    519 non-null    object
 7   排汽温度    519 non-null    object
 8   排烟温度    519 non-null    object
 9   进风温度    504 non-null    object
 10  烟气含氧量   519 non-null    object
 11  负荷率     504 non-null    object
dtypes: datetime64[ns](1), object(11)
memory usage: 52.7+ KB