In [1]:
import pandas as pd
#读取 已提取运行数据
df_1_operation = pd.read_excel("../已提取数据/马鞍山1号电厂运行数据202308-202412.xlsx")
df_1_operation

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,排汽温度,排烟温度,进风温度,烟气含氧量,负荷率
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.819920,34.423918,120.547890,NaN,4.377998,NaN
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,4.147110,NaN
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,NaN
3,2023-08-04,463.799990,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,70.272726
4,2023-08-05,463.799990,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,70.272726
...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,30.391722,114.439377,7.455163,2.374643,81.331171
515,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.274780,246.852801,26.792375,102.516357,6.076645,3.433005,58.933663
516,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,28.329635,97.923981,5.057175,2.834644,65.963639
517,2024-12-30,363.211545,3.51448,16.992607,558.918640,545.457459,243.366595,27.013812,101.438002,8.766281,3.099880,55.032052
518,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,29.768605,100.154246,8.413986,2.597747,71.938418

In [2]:
#读取 已提取燃煤煤质数据
df_1_fuel = pd.read_excel("../已提取数据/马鞍山1号煤质202308-202412.xlsx")
df_1_fuel

            时间  全水分%    灰份%  挥发份%Vad   低位热量   固定碳%
0   2023-08-01  11.5  30.90    26.17  18.56  36.26
1   2023-08-02  12.3  29.05    26.37  18.72  37.18
2   2023-08-03  14.5  23.51    27.35  19.65  39.67
3   2023-08-04  14.3  24.20    27.91  19.03  38.36
4   2023-08-05  18.0  20.30    27.56  18.86  38.47
..         ...   ...    ...      ...    ...    ...
514 2024-12-27  16.6  23.49    28.90  18.93  36.91
515 2024-12-28  20.0  19.40    30.64  18.29  35.78
516 2024-12-29  20.9  18.91    30.88  18.18  35.75
517 2024-12-30  19.5  20.41    29.88  18.26  35.48
518 2024-12-31  14.8  21.08    28.72  19.75  39.42

[519 rows x 6 columns]

In [3]:
#读取 已提取碳排放监测数据
df_1_emission = pd.read_excel("../已提取数据/马鞍山1号碳排放监测数据202308-202412.xlsx")
df_1_emission

            时间          负荷       碳排放强度
0   2023-08-01  389.677003  874.946294
1   2023-08-02  408.276215  860.640267
2   2023-08-03  405.236979  880.361819
3   2023-08-04  553.980625  857.798288
4   2023-08-05  616.803194  853.045939
..         ...         ...         ...
514 2024-12-27  513.771944  800.699176
515 2024-12-28  377.354861  910.331622
516 2024-12-29  360.441215  914.206765
517 2024-12-30  351.485417  914.339472
518 2024-12-31  494.139687  829.795472

[519 rows x 3 columns]

In [4]:
import functools as ft
#整合3种数据
data_frames = [df_1_operation,df_1_fuel,df_1_emission]
df_merged = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames)#.fillna(0)
df_merged

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,排汽温度,排烟温度,进风温度,烟气含氧量,负荷率,全水分%,灰份%,挥发份%Vad,低位热量,固定碳%,负荷,碳排放强度
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.819920,34.423918,120.547890,NaN,4.377998,NaN,11.5,30.90,26.17,18.56,36.26,389.677003,874.946294
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,4.147110,NaN,12.3,29.05,26.37,18.72,37.18,408.276215,860.640267
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,NaN,14.5,23.51,27.35,19.65,39.67,405.236979,880.361819
3,2023-08-04,463.799990,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,70.272726,14.3,24.20,27.91,19.03,38.36,553.980625,857.798288
4,2023-08-05,463.799990,NaN,17.535095,NaN,NaN,239.207460,35.528028,126.022090,NaN,3.205516,70.272726,18.0,20.30,27.56,18.86,38.47,616.803194,853.045939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,30.391722,114.439377,7.455163,2.374643,81.331171,16.6,23.49,28.90,18.93,36.91,513.771944,800.699176
515,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.274780,246.852801,26.792375,102.516357,6.076645,3.433005,58.933663,20.0,19.40,30.64,18.29,35.78,377.354861,910.331622
516,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,28.329635,97.923981,5.057175,2.834644,65.963639,20.9,18.91,30.88,18.18,35.75,360.441215,914.206765
517,2024-12-30,363.211545,3.51448,16.992607,558.918640,545.457459,243.366595,27.013812,101.438002,8.766281,3.099880,55.032052,19.5,20.41,29.88,18.26,35.48,351.485417,914.339472
518,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,29.768605,100.154246,8.413986,2.597747,71.938418,14.8,21.08,28.72,19.75,39.42,494.139687,829.795472

In [5]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   时间       519 non-null    datetime64[ns]
 1   平均负荷     516 non-null    float64
 2   厂用电率     504 non-null    float64
 3   主汽压力     519 non-null    float64
 4   主汽温度     504 non-null    float64
 5   再热汽温     504 non-null    float64
 6   给水温度     519 non-null    float64
 7   排汽温度     519 non-null    float64
 8   排烟温度     519 non-null    float64
 9   进风温度     504 non-null    float64
 10  烟气含氧量    519 non-null    float64
 11  负荷率      516 non-null    float64
 12  全水分%     519 non-null    float64
 13  灰份%      519 non-null    float64
 14  挥发份%Vad  519 non-null    float64
 15  低位热量     519 non-null    float64
 16  固定碳%     519 non-null    float64
 17  负荷       407 non-null    float64
 18  碳排放强度    407 non-null    float64
dtypes: datetime64[ns](1), float64(18)
memory usage: 77.2 KB

In [6]:
df_merged.to_excel("../已整合数据/马鞍山1号数据整合202308-202412.xlsx")