In [1]:
import pandas as pd
df_1_operation = pd.read_excel("../data/马鞍山1号电厂运行数据.xlsx")
df_1_operation

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,真空度,排汽温度,排烟温度,进风温度,烟气含氧量,运行小时,发电煤耗,负荷率
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.819920,94.393120,34.423918,120.547890,NaN,4.377998,NaN,NaN,NaN
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,NaN,4.147110,NaN,NaN,NaN
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,NaN,3.205516,NaN,NaN,NaN
3,2023-08-04,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,NaN,3.205516,NaN,NaN,70.272726
4,2023-08-05,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,NaN,3.205516,NaN,291.775140,70.272726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,96.556121,30.391722,114.439377,7.455163,2.374643,23.996109,280.646210,81.331171
485,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.274780,246.852801,97.132126,26.792375,102.516357,6.076645,3.433005,23.997778,288.284125,58.933663
486,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,96.711757,28.329635,97.923981,5.057175,2.834644,23.999125,286.691216,65.963639
487,2024-12-30,363.211545,3.51448,16.992607,558.918640,545.457459,243.366595,96.686992,27.013812,101.438002,8.766281,3.099880,23.996111,290.194502,55.032052
488,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,96.395662,29.768605,100.154246,8.413986,2.597747,23.997775,288.539905,71.938418

In [10]:
df_1_fuel = pd.read_excel("../data/马鞍山1号煤质.xlsx")
df_1_fuel = df_1_fuel.rename(columns={"日期":"时间"})
df_1_fuel

,时间,全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1
0,2023-08-01,11.5,3.34,30.90,26.17,39.80,0.83,0.90,21.19,18.56,36.26,4998,18.46,1.353333,4.87
1,2023-08-02,12.3,3.81,29.05,26.37,39.30,0.69,0.76,21.47,18.72,37.18,4420,18.78,1.176667,4.93
2,2023-08-03,14.5,5.16,23.51,27.35,38.34,0.59,0.66,22.80,19.65,39.67,4424,19.35,1.423333,5.04
3,2023-08-04,14.3,5.66,24.20,27.91,39.80,0.64,0.71,21.95,19.03,38.36,5578,18.83,1.356667,4.27
4,2023-08-05,18.0,9.81,20.30,27.56,39.43,0.66,0.72,21.85,18.86,38.47,6628,18.81,1.326667,4.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,16.6,5.98,23.49,28.90,40.92,0.57,0.65,22.48,18.93,36.91,5306,19.24,1.486667,4.91
515,2024-12-28,20.0,9.44,19.40,30.64,43.09,0.69,0.79,21.95,18.29,35.78,3825,18.69,1.476667,5.02
516,2024-12-29,20.9,9.08,18.91,30.88,42.91,0.75,0.86,22.19,18.18,35.75,3668,18.41,1.356667,4.98
517,2024-12-30,19.5,10.12,20.41,29.88,43.01,0.74,0.82,21.59,18.26,35.48,3777,17.91,1.526667,5.29
518,2024-12-31,14.8,7.34,21.08,28.72,40.11,0.67,0.73,22.56,19.75,39.42,5021,19.69,1.356667,4.67

In [4]:
df_1_emission = pd.read_excel("../data/马鞍山1号碳排放.xlsx")
df_1_emission

            时间       碳排放强度
0   2023-08-01  874.946294
1   2023-08-02  860.640267
2   2023-08-03  880.361819
3   2023-08-04  857.798288
4   2023-08-05  853.045939
..         ...         ...
416 2024-12-27  794.480431
417 2024-12-28  795.348729
418 2024-12-29  896.680537
419 2024-12-30  897.858448
420 2024-12-31  823.233935

[421 rows x 2 columns]

In [21]:
import functools as ft
df_merged = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames)#.fillna(0)
df_merged

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,真空度,排汽温度,排烟温度,...,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1,碳排放强度
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.819920,94.393120,34.423918,120.547890,...,0.83,0.90,21.19,18.56,36.26,4998,18.46,1.353333,4.87,874.946294
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.69,0.76,21.47,18.72,37.18,4420,18.78,1.176667,4.93,860.640267
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.59,0.66,22.80,19.65,39.67,4424,19.35,1.423333,5.04,880.361819
3,2023-08-04,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.64,0.71,21.95,19.03,38.36,5578,18.83,1.356667,4.27,857.798288
4,2023-08-05,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.66,0.72,21.85,18.86,38.47,6628,18.81,1.326667,4.31,853.045939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,96.556121,30.391722,114.439377,...,0.57,0.65,22.48,18.93,36.91,5306,19.24,1.486667,4.91,794.480431
515,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.274780,246.852801,97.132126,26.792375,102.516357,...,0.69,0.79,21.95,18.29,35.78,3825,18.69,1.476667,5.02,795.348729
516,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,96.711757,28.329635,97.923981,...,0.75,0.86,22.19,18.18,35.75,3668,18.41,1.356667,4.98,896.680537
517,2024-12-30,363.211545,3.51448,16.992607,558.918640,545.457459,243.366595,96.686992,27.013812,101.438002,...,0.74,0.82,21.59,18.26,35.48,3777,17.91,1.526667,5.29,897.858448
518,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,96.395662,29.768605,100.154246,...,0.67,0.73,22.56,19.75,39.42,5021,19.69,1.356667,4.67,823.233935

In [48]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   时间        519 non-null    datetime64[ns]
 1   平均负荷      486 non-null    float64
 2   厂用电率      474 non-null    float64
 3   主汽压力      489 non-null    float64
 4   主汽温度      474 non-null    float64
 5   再热汽温      474 non-null    float64
 6   给水温度      489 non-null    float64
 7   真空度       489 non-null    float64
 8   排汽温度      489 non-null    float64
 9   排烟温度      489 non-null    float64
 10  进风温度      474 non-null    float64
 11  烟气含氧量     489 non-null    float64
 12  运行小时      460 non-null    float64
 13  发电煤耗      485 non-null    float64
 14  负荷率       486 non-null    float64
 15  全水分%      519 non-null    float64
 16  水分%       519 non-null    float64
 17  灰份%       519 non-null    float64
 18  挥发份%Vad   519 non-null    float64
 19  挥发份%Vdaf  519 non-null    float64
 20  全硫%ar     519 non-null    float64
 21  全硫%ad     519 non-null    float64
 22  高位热量      519 non-null    float64
 23  低位热量      519 non-null    float64
 24  固定碳%      519 non-null    float64
 25  #1煤量      519 non-null    int64
 26  #1热值      519 non-null    float64
 27  飞灰%#1     406 non-null    float64
 28  炉渣%#1     400 non-null    float64
 29  碳排放强度     407 non-null    float64
dtypes: datetime64[ns](1), float64(28), int64(1)
memory usage: 121.8 KB

In [49]:
df_merged.replace('/', np.nan, inplace=True)
df_merged['飞灰%#1'] = pd.to_numeric(df_merged['飞灰%#1'], errors='coerce')
df_merged['炉渣%#1'] = pd.to_numeric(df_merged['炉渣%#1'], errors='coerce')

In [50]:
df_merged

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,真空度,排汽温度,排烟温度,...,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1,碳排放强度
0,2023-08-01,NaN,NaN,16.065449,NaN,NaN,237.819920,94.393120,34.423918,120.547890,...,0.83,0.90,21.19,18.56,36.26,4998,18.46,1.353333,4.87,874.946294
1,2023-08-02,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.69,0.76,21.47,18.72,37.18,4420,18.78,1.176667,4.93,860.640267
2,2023-08-03,NaN,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.59,0.66,22.80,19.65,39.67,4424,19.35,1.423333,5.04,880.361819
3,2023-08-04,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.64,0.71,21.95,19.03,38.36,5578,18.83,1.356667,4.27,857.798288
4,2023-08-05,463.799990,NaN,17.535095,NaN,NaN,239.207460,93.980667,35.528028,126.022090,...,0.66,0.72,21.85,18.86,38.47,6628,18.81,1.326667,4.31,853.045939
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.785727,3.51448,23.833649,568.796295,565.480041,265.273621,96.556121,30.391722,114.439377,...,0.57,0.65,22.48,18.93,36.91,5306,19.24,1.486667,4.91,794.480431
515,2024-12-28,388.962175,3.51448,18.112924,560.746643,547.274780,246.852801,97.132126,26.792375,102.516357,...,0.69,0.79,21.95,18.29,35.78,3825,18.69,1.476667,5.02,795.348729
516,2024-12-29,435.360017,3.51448,18.704281,561.251831,556.695557,252.086365,96.711757,28.329635,97.923981,...,0.75,0.86,22.19,18.18,35.75,3668,18.41,1.356667,4.98,896.680537
517,2024-12-30,363.211545,3.51448,16.992607,558.918640,545.457459,243.366595,96.686992,27.013812,101.438002,...,0.74,0.82,21.59,18.26,35.48,3777,17.91,1.526667,5.29,897.858448
518,2024-12-31,474.793557,3.51448,20.548363,564.053528,560.266113,256.506363,96.395662,29.768605,100.154246,...,0.67,0.73,22.56,19.75,39.42,5021,19.69,1.356667,4.67,823.233935

In [53]:
df_merged.to_excel("../data/马鞍山1号数据整合.xlsx")