In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.float_format', '{:.3f}'.format)
import warnings
warnings.filterwarnings("ignore")
# 设置中文字体为 SimHei（黑体）
plt.rcParams['font.sans-serif'] = ['SimHei']  # 使用黑体 SimHei
plt.rcParams['axes.unicode_minus'] = False    # 解决负号显示问题

In [2]:
#读取 已提取运行数据
df_1_operation = pd.read_excel("../已提取数据/马鞍山1号电厂运行数据202308-202412.xlsx")
df_1_operation

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,真空度,排汽温度,排烟温度,进风温度,烟气含氧量,运行小时,发电煤耗,平均负荷率
0,2023-08-01,NaN,NaN,16.065,NaN,NaN,237.820,94.393,34.424,120.548,NaN,4.378,NaN,NaN,NaN
1,2023-08-02,NaN,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,NaN,4.147,NaN,NaN,NaN
2,2023-08-03,NaN,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,NaN,3.206,NaN,NaN,NaN
3,2023-08-04,463.800,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,NaN,3.206,NaN,NaN,70.273
4,2023-08-05,463.800,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,NaN,3.206,NaN,291.775,70.273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.786,3.514,23.834,568.796,565.480,265.274,96.556,30.392,114.439,7.455,2.375,23.996,280.646,81.331
515,2024-12-28,388.962,3.514,18.113,560.747,547.275,246.853,97.132,26.792,102.516,6.077,3.433,23.998,288.284,58.934
516,2024-12-29,435.360,3.514,18.704,561.252,556.696,252.086,96.712,28.330,97.924,5.057,2.835,23.999,286.691,65.964
517,2024-12-30,363.212,3.514,16.993,558.919,545.457,243.367,96.687,27.014,101.438,8.766,3.100,23.996,290.195,55.032
518,2024-12-31,474.794,3.514,20.548,564.054,560.266,256.506,96.396,29.769,100.154,8.414,2.598,23.998,288.540,71.938

In [3]:
#读取 已提取燃煤煤质数据
df_1_fuel = pd.read_excel("../已提取数据/马鞍山1号煤质202308-202412.xlsx")
df_1_fuel

,时间,全水分%,水分%,灰份%,挥发份%Vad,挥发份%Vdaf,全硫%ar,全硫%ad,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1
0,2023-08-01,11.500,3.340,30.900,26.170,39.800,0.830,0.900,21.190,18.560,36.260,4998,18.460,1.353,4.870
1,2023-08-02,12.300,3.810,29.050,26.370,39.300,0.690,0.760,21.470,18.720,37.180,4420,18.780,1.177,4.930
2,2023-08-03,14.500,5.160,23.510,27.350,38.340,0.590,0.660,22.800,19.650,39.670,4424,19.350,1.423,5.040
3,2023-08-04,14.300,5.660,24.200,27.910,39.800,0.640,0.710,21.950,19.030,38.360,5578,18.830,1.357,4.270
4,2023-08-05,18.000,9.810,20.300,27.560,39.430,0.660,0.720,21.850,18.860,38.470,6628,18.810,1.327,4.310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,16.600,5.980,23.490,28.900,40.920,0.570,0.650,22.480,18.930,36.910,5306,19.240,1.487,4.910
515,2024-12-28,20.000,9.440,19.400,30.640,43.090,0.690,0.790,21.950,18.290,35.780,3825,18.690,1.477,5.020
516,2024-12-29,20.900,9.080,18.910,30.880,42.910,0.750,0.860,22.190,18.180,35.750,3668,18.410,1.357,4.980
517,2024-12-30,19.500,10.120,20.410,29.880,43.010,0.740,0.820,21.590,18.260,35.480,3777,17.910,1.527,5.290
518,2024-12-31,14.800,7.340,21.080,28.720,40.110,0.670,0.730,22.560,19.750,39.420,5021,19.690,1.357,4.670

In [4]:
#读取 已提取碳排放监测数据
df_1_emission = pd.read_excel("../已提取数据/马鞍山1号碳排放监测数据202308-202412.xlsx")
df_1_emission

            时间      负荷   碳排放强度    负荷率
0   2023-08-01 389.677 874.946 59.042
1   2023-08-02 408.276 860.640 61.860
2   2023-08-03 405.237 880.362 61.400
3   2023-08-04 553.981 857.798 83.936
4   2023-08-05 616.803 853.046 93.455
..         ...     ...     ...    ...
514 2024-12-27 513.772 794.480 77.844
515 2024-12-28 377.355 795.349 57.175
516 2024-12-29 360.441 896.681 54.612
517 2024-12-30 351.485 897.858 53.255
518 2024-12-31 494.140 823.234 74.870

[519 rows x 4 columns]

In [5]:
import functools as ft
#整合3种数据
data_frames = [df_1_operation,df_1_fuel,df_1_emission]
df_merged = ft.reduce(lambda  left,right: pd.merge(left,right,on=['时间'],
                                            how='outer'), data_frames)#.fillna(0)
df_merged

,时间,平均负荷,厂用电率,主汽压力,主汽温度,再热汽温,给水温度,真空度,排汽温度,排烟温度,...,高位热量,低位热量,固定碳%,#1煤量,#1热值,飞灰%#1,炉渣%#1,负荷,碳排放强度,负荷率
0,2023-08-01,NaN,NaN,16.065,NaN,NaN,237.820,94.393,34.424,120.548,...,21.190,18.560,36.260,4998,18.460,1.353,4.870,389.677,874.946,59.042
1,2023-08-02,NaN,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,...,21.470,18.720,37.180,4420,18.780,1.177,4.930,408.276,860.640,61.860
2,2023-08-03,NaN,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,...,22.800,19.650,39.670,4424,19.350,1.423,5.040,405.237,880.362,61.400
3,2023-08-04,463.800,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,...,21.950,19.030,38.360,5578,18.830,1.357,4.270,553.981,857.798,83.936
4,2023-08-05,463.800,NaN,17.535,NaN,NaN,239.207,93.981,35.528,126.022,...,21.850,18.860,38.470,6628,18.810,1.327,4.310,616.803,853.046,93.455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,2024-12-27,536.786,3.514,23.834,568.796,565.480,265.274,96.556,30.392,114.439,...,22.480,18.930,36.910,5306,19.240,1.487,4.910,513.772,794.480,77.844
515,2024-12-28,388.962,3.514,18.113,560.747,547.275,246.853,97.132,26.792,102.516,...,21.950,18.290,35.780,3825,18.690,1.477,5.020,377.355,795.349,57.175
516,2024-12-29,435.360,3.514,18.704,561.252,556.696,252.086,96.712,28.330,97.924,...,22.190,18.180,35.750,3668,18.410,1.357,4.980,360.441,896.681,54.612
517,2024-12-30,363.212,3.514,16.993,558.919,545.457,243.367,96.687,27.014,101.438,...,21.590,18.260,35.480,3777,17.910,1.527,5.290,351.485,897.858,53.255
518,2024-12-31,474.794,3.514,20.548,564.054,560.266,256.506,96.396,29.769,100.154,...,22.560,19.750,39.420,5021,19.690,1.357,4.670,494.140,823.234,74.870

In [6]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   时间        519 non-null    datetime64[ns]
 1   平均负荷      516 non-null    float64
 2   厂用电率      504 non-null    float64
 3   主汽压力      519 non-null    float64
 4   主汽温度      504 non-null    float64
 5   再热汽温      504 non-null    float64
 6   给水温度      519 non-null    float64
 7   真空度       519 non-null    float64
 8   排汽温度      519 non-null    float64
 9   排烟温度      519 non-null    float64
 10  进风温度      504 non-null    float64
 11  烟气含氧量     519 non-null    float64
 12  运行小时      490 non-null    float64
 13  发电煤耗      515 non-null    float64
 14  平均负荷率     516 non-null    float64
 15  全水分%      519 non-null    float64
 16  水分%       519 non-null    float64
 17  灰份%       519 non-null    float64
 18  挥发份%Vad   519 non-null    float64
 19  挥发份%Vdaf  519 non-null    float64
 20  全硫%ar     519 non-null    float64
 21  全硫%ad     519 non-null    float64
 22  高位热量      519 non-null    float64
 23  低位热量      519 non-null    float64
 24  固定碳%      519 non-null    float64
 25  #1煤量      519 non-null    int64
 26  #1热值      519 non-null    float64
 27  飞灰%#1     406 non-null    float64
 28  炉渣%#1     400 non-null    float64
 29  负荷        407 non-null    float64
 30  碳排放强度     407 non-null    float64
 31  负荷率       407 non-null    float64
dtypes: datetime64[ns](1), float64(30), int64(1)
memory usage: 129.9 KB

In [7]:
df_merged.to_excel("../已整合数据/马鞍山1号数据整合202308-202412.xlsx",index = False)